.maindiv {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  background-color: skyblue;
}
h1 {
  margin-top: 14px;
  margin-bottom: 14px;
  font-family: "Courier New", Courier, monospace;
}

.datadiv:hover {
  box-shadow: 13.6px 13.6px 27px black;

  /* transform: rotatey(360deg); */
}

.datadiv {
  transition: all 1.4s ease;
  flex-wrap: wrap;
  background: linear-gradient(
    135deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 412px;
  min-width: 272px;
  max-width: 272px;
  box-shadow: 4px 4px 8px black;
  border-radius: 54px;
}

.one {
  width: 160px;
  flex-wrap: wrap;

  background-color: rgba(0, 0, 0, 0.272);
  box-shadow: 2px 2px 4px black;

  text-align: center;
  padding: 7px;
  margin: 7px;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.two {
  width: 160px;
  flex-wrap: wrap;

  background-color: rgba(255, 255, 0, 0.272);
  box-shadow: 2px 2px 4px black;

  text-align: center;
  padding: 7px;
  margin: 7px;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.three {
  width: 160px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 0, 0, 0.272);
  box-shadow: 2px 2px 4px black;

  text-align: center;
  padding: 7px;
  margin: 7px;
  border-radius: 27px;
}
.four {
  width: 160px;
  flex-wrap: wrap;

  background-color: rgba(0, 128, 0, 0.272);
  box-shadow: 2px 2px 4px black;

  text-align: center;
  padding: 7px;
  margin: 7px;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: medium;
  font-weight: bold;
}
.datadiv div:hover {
  box-shadow: 4px 4px 8px black;
}
